# Dependencies
node_modules/

# Environment Variables
.env

# Temp Downloads Folder
temp_downloads/
*.mp3
*.mp4
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
